* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #1A0B2E;
  color: #fff;
}
.container {
  width: 85%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}
.header {
  padding: 20px 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.gradient-span {
  display: inline-block;
  background: linear-gradient(
        190deg,
    rgba(145, 0, 248, 1),
    rgba(251, 9, 180, 1),
    rgb(242, 229, 85)
  );
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.nav-menu {
  display: flex;
  gap: 30px;
  font-size: 16px;
}

.hamburger {
  display: none;
  width: 24px;
}
.btn-gradient {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
  background: linear-gradient(190deg,rgba(145, 0, 248, 1),
                                    rgba(251, 9, 180, 1),
                                    rgb(242, 229, 85) );
  padding: 10px 20px;
  border-radius: 999px;
  border:none;
}
