* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #1a0b2e;
  color: #fff;
}
.container {
  width: 85%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}
.header {
  padding: 20px 0;
}

/* navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1a0b2e;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.gradient-span {
  display: inline-block;
  background: linear-gradient(
    190deg,
    rgba(145, 0, 248, 1),
    rgb(252, 6, 178),
    rgb(249, 230, 18)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-menu {
  display: flex;
  gap: 30px;
  font-size: 16px;
}
.nav-menu a {
  position: relative;
  padding-bottom: 4px;
}

.nav-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(
    190deg,
    rgba(145, 0, 248, 1),
    rgb(252, 6, 178),
    rgb(249, 230, 18)
  );
  transition: width 1s ease;
}

.nav-menu a:hover::after {
  width: 100%;
}
.hamburger {
  display: none;
  width: 24px;
}
button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 22px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.btn-gradient {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(
    190deg,
    rgba(145, 0, 248, 1),
    rgb(252, 6, 178),
    rgb(249, 230, 18)
  );
  padding: 10px 20px;
  border-radius: 999px;
  border: none;
  transition:
    background-color 0.25s ease,
    transform 0.25s ease;
}

.btn-gradient:hover {
  transform: translateY(-2px);
  background: linear-gradient(
    40deg,
    rgba(145, 0, 248, 1),
    rgb(252, 6, 178),
    rgb(249, 230, 18)
  );
}

.header-divider {
  margin: 1px;
  height: 1px;
  background-color: white;
  opacity: 0.2;
}

/* hero section */
.hero {
  background: url("assets/hero-bg.png") center/cover no-repeat;
  padding: 80px 0;
  text-align: center;
}

.hero-circle {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 50%;
  border: 6px solid #2a186c;
  background: linear-gradient(
    190deg,
    rgba(145, 0, 248, 1),
    rgb(252, 6, 178),
    rgb(249, 230, 18)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: heroCircleFloat 3s ease-in-out infinite;
}

@keyframes heroCircleFloat {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.hero-circle img {
  width: 90px;
}

.badge {
  position: absolute;
  top: 16px;
  right: 12px;
  background: #2cff9a;
  color: #000;
  font-size: 12px;
  font-weight: 700;
  padding: 6px 12px;
  border-radius: 999px;
  animation: badgeAnimation 2s infinite;
}
@keyframes badgeAnimation {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(44, 255, 154, 0.6);
  }
  50% {
    transform: scale(1.08);
    box-shadow: 0 0 10px rgba(44, 255, 154, 0.4);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(33, 200, 120, 0.667);
  }
}

.hero h1 {
  font-size: 52px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 12px;
}

.hero p {
  margin: 0 auto 32px;
  font-size: 16px;
  line-height: 1.4;
  color: white;
  opacity: 0.8;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.hero-buttons img {
  width: 18px;
}

.btn-outline {
  background: transparent;
  border: 1.5px solid #2cff9a;
  color: #2cff9a;
  transition:
    background-color 0.25s ease,
    transform 0.25s ease;
}
.btn-outline:hover {
  background-color: rgba(44, 255, 154, 0.15);
  transform: translateY(-2px);
}

/* About the podcast part */

.about {
  padding: 50px 0 120px;
  background: #1a0b2e;
}

.writing-part {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}

.writing-part h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

.about-text {
  font-size: 16px;
  line-height: 1.8;
  opacity: 0.8;
}

.about-text span {
  display: block;
  margin-top: 18px;
  opacity: 0.9;
}

.about-divider {
  width: 100%;
  height: 1px;
  margin: 60px 0;
  background-color: white;
  opacity: 0.2;
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  text-align: center;
}

.about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-card h3 {
  font-size: 48px;
  font-weight: 700;
  color: #00ff88;
  margin-bottom: 8px;
  line-height: 1;
}

.about-card span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.7;
  line-height: 1.2;
}

/* Features-part */

.features {
  padding: 120px 0;
  background: #230e3d;
}

.features-title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "audio mobile mobile"
    "audio global global"
    "interview interview resources";
  gap: 30px;
}

.feature-card {
  background: #351165;
  border-radius: 24px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
}

.card-audio {
  grid-area: audio;
}

.card-mobile {
  grid-area: mobile;
}

.card-global {
  grid-area: global;
}

.card-interview {
  grid-area: interview;
}

.card-resources {
  grid-area: resources;
}

.feature-card img {
  width: 40px;
  margin-bottom: 6px;
}

.feature-text h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px;
}

.feature-text p {
  font-size: 16px;
  line-height: 1.6;
  opacity: 0.6;
}

/* Episode-part */

.episodes {
  padding: 120px 0;
  background: #1a0b2e;
}

.episodes-title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}

.episodes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.episode-card {
  background: #250d44;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.episode-thumb {
  width: 100%;
  aspect-ratio: 16/9;
}

.episode-thumb iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.episode-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.episode-content h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}

.episode-content p {
  font-size: 16px;
  line-height: 1.6;
  opacity: 0.6;
}

.episode-time {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 6px;
  font-size: 16px;
  color: #00ff88;
}

.episode-time img {
  width: 16px;
  height: 16px;
}

/* Host part  */

.host {
  padding: 0 0 120px;
  background: #1a0b2e;
}

.host-title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}

.host-card {
  background: #250d44;
  border-radius: 40px;
  padding: 48px 40px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.host-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.host-content h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.host-content p {
  font-size: 16px;
  line-height: 1.6;
  opacity: 0.6;
}

.host-socials {
  display: flex;
  gap: 8px;
  margin-top: 24px;
}

.host-socials a {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #9649bd;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    transform 0.25s ease,
    background-color 0.25s ease;
}

.host-socials a:hover {
  transform: translateY(-2px);
  background: #130623;
}

.host-socials img {
  width: 16px;
}

/* media query */
@media screen and (max-width: 576px) {
  .nav-menu {
    display: none;
  }

  .nav-btn {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  /* hero part */

  .hero {
    background: url("assets/hero-bg-2.png") center/cover no-repeat;
  }

  .hero-circle {
    width: 220px;
    height: 220px;
  }
  .hero-circle img {
    width: 60px;
  }
  .hero h1 {
    font-size: 42px;
  }
  .hero p {
    margin: 0 30px 32px;
  }
  .badge {
    top: 12px;
    right: 0px;
  }

  /* about part */
  .about {
    padding: 40px 0 80px;
  }

  .writing-part {
    max-width: 95%;
    margin: 0 auto;
  }

  .writing-part h2 {
    font-size: 32px;
    margin-bottom: 14px;
  }

  .about-text {
    font-size: 14px;
    line-height: 1.7;
  }

  .about-text span {
    margin-top: 14px;
  }

  .about-divider {
    margin: 40px 0;
  }

  .about-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 24px;
  }

  .about-card h3 {
    font-size: 34px;
  }

  .about-card span {
    font-size: 11px;
    letter-spacing: 0.8px;
  }

  /* feature-part */

  .features {
    padding: 80px 0;
  }

  .features-title {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .features-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "audio"
      "mobile"
      "global"
      "interview"
      "resources";
    gap: 24px;
  }

  .feature-card {
    padding: 28px;
  }

  .feature-text h3 {
    font-size: 22px;
  }

  /* Episode-part */

  .episodes {
    padding: 40px 0;
  }

  .episodes-title {
    font-size: 32px;
    margin-bottom: 24px;
  }

  .episodes-grid {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .episode-content {
    padding: 20px;
  }

  .episode-content h3 {
    font-size: 20px;
  }

  .episode-content p {
    font-size: 16px;
  }

  /* Host-part  */

  .host {
    padding: 80px 0;
  }

  .host-title {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .host-card {
    flex-direction: column;
    text-align: center;
    padding: 36px 24px;
    border-radius: 24px;
    gap: 28px;
  }

  .host-image img {
    width: 150px;
    height: 150px;
  }

  .host-content h3 {
    font-size: 24px;
  }

  .host-content p {
    font-size: 16px;
    line-height: 1.6;
  }

  .host-socials {
    justify-content: center;
  }
}
