* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #1A0B2E;
  color: #fff;
}
.container {
  width: 85%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}
.header {
  padding: 20px 0;
}


/* navbar */


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.gradient-span {
  display: inline-block;
   background: linear-gradient(
        190deg,
    rgba(145, 0, 248, 1),
    rgb(252, 6, 178),
    rgb(249, 230, 18)
  );
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.nav-menu {
  display: flex;
  gap: 30px;
  font-size: 16px;
}

.hamburger {
  display: none;
  width: 24px;
}
 button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 22px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.btn-gradient {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
  background: linear-gradient(
        190deg,
    rgba(145, 0, 248, 1),
    rgb(252, 6, 178),
    rgb(249, 230, 18)
  );
  padding: 10px 20px;
  border-radius: 999px;
  border:none;
}

.header-divider{
  margin:1px;
  height: 1px;
  background-color: white;
  opacity: 0.2;
}



/* hero section */
.hero {
  background: url("assets/hero-bg.png") center/cover no-repeat;
  padding: 100px 0;
  text-align: center;

}

.hero-circle {
  width: 280px;
  height: 280px;
  margin: 0 auto;
  border-radius: 50%;
  border:6px solid #2A186C;
  background: linear-gradient(
        190deg,
    rgba(145, 0, 248, 1),
    rgb(252, 6, 178),
    rgb(249, 230, 18)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-circle img {
  width: 90px;
}

.badge {
  position: absolute;
  top: 16px;
  right: 12px;
  background: #2cff9a;
  color: #000;
  font-size: 12px;
  font-weight: 700;
  padding: 6px 12px;
  border-radius: 999px;
}
.hero h1 {
  font-size: 52px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 12px;
}

.hero p {
  max-width: 520px;
  margin: 0 auto 32px;
  font-size: 15px;
  line-height: 1.6;
  color: rgba(207, 203, 233, 0.85);
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}


.hero-buttons img {
  width: 18px;
}

.btn-outline {
  background: transparent;
  border: 1.5px solid #2cff9a;
  color: #2cff9a;
}





@media screen and (max-width: 576px){
  .nav-menu{
    display: none;
  }

  .nav-btn {
    display: none;
  }

  .hamburger {
    display: block;
    cursor:pointer;
  }


}

